*{
  margin: 0;
  padding: 0;
  overflow: hidden;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

 body{
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100% !important;
  width: 100% !important;
  background-image: url("pexels-instawally-176851.jpg");   
  background-repeat: no-repeat;      
  background-size: cover;          
  background-position: center; 
  background-color: transparent;
  backdrop-filter: blur(0.6px);
}
.container{
  padding: 1rem;
  border-radius: 1rem;
  min-height: 50vh !important;
  width: 60vh !important;
  background-image: url("pexels-instawally-176851.jpg");   
  background-repeat: no-repeat;      
  background-size: cover;          
  background-position: center; 
  background-color: transparent;
  backdrop-filter: blur(-10px);
  box-shadow: 0px 0px 12px 4px black;
}
.container img{
  display: block;
  justify-content: center;
  text-align: center;
  margin-bottom: 5px;
}
.container h2{
  color: #fff;
  display: block;
  justify-content: center;
  text-align: center;
  padding: 3px 0px;
}
form{
  color: #fff;
  margin: 1rem 0 1rem 0;
}
form select {
  background: transparent;
  color: #fff;
  border-color: #918b8b;
}
form button , input{
  width: 97%;
  outline: none;
  border-radius: 0.75rem;
}
form button {
  border-color: 2px solid #000000;
}
form input{
  border: 1px solid lightgrey;
  font-size: 1rem;
  height: 2rem;
  color: #000;
  padding-left: 0.5rem;
}
.dropdown{
display: flex;
justify-content: space-between;
align-items: center;
margin-top: 2rem;
margin-top: 15px;;
}
.dropdown i{
 font-size:1rem;
 margin-top: 1rem;
}
.select-container img{
max-width: 2rem;
}
.select-container{
  display: flex;
  width: 6rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  border: 1px solid lightgray;
}
.msg{
  margin:1.5rem 0rem;
  
 display: block;
  justify-content: center;
  text-align: center;
}
form button{
 height: 3rem;
 font-size: 1rem; 
 display: block;
  justify-content: center;
  text-align: center;
 background-color: #092a5c;
 cursor: pointer;
 color: #cccccc;
}

@media only screen and (max-width: 480px) {

  html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
 body{
     display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  background-image: url("pexels-eberhardgross-2098427.jpg");   
  background-repeat: no-repeat;      
  background-size: cover;          
  background-position: center; 
  background-color: transparent;
  backdrop-filter: blur(0.5px);
}
.container{
  background-image: url("pexels-eberhardgross-2098427.jpg"); 
  width: 40vh !important;
  min-height: 70vh !important;
  box-shadow: 0px 0px 12px 4px rgb(171, 169, 169);
}
form{
  margin: 4rem 0 1rem 0;
}
}

